{% from "macros.html" import entry, thead, breadcrumb
   with context %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Index of {{ curdir.path }}</title>
  {% block meta %}
    <link rel="stylesheet" type="text/css"
      href="{{ url_for('__autoindex__.static', filename='autoindex.css') }}" />
  {% endblock %}
</head>
<body>
  {% block header %}{% endblock %}
  {% block table %}
    <table>
      <thead>
        {{ thead() }}
        {% if not curdir.is_root() %}
          <tr>
            <td class="breadcrumb" colspan="4">
              <h1>{{ breadcrumb(curdir) }}</h1>
            </td>
          </tr>
        {% endif %}
      </thead>
      <tbody>
        {% for ent in entries %}
          {{ entry(ent) }}
        {% endfor %}
      </tbody>
    </table>
  {% endblock %}
  {% block footer %}
  {% endblock %}
</body>
</html>
